/*
/.**


!/.config
!/.config/nvim/
!/.config/nvim/**
!/.gitignore
!/.hyper.js
!/.vim/
!/.vim/dein/
/.vim/dein/cache_nvim
/.vim/dein/.cache
!/.vim/dein/state_nvim.vim
!/.vim/dein/repos/
/.vim/dein/repos/**
!/.zshrc/
!/brew/
!/zsh/
!/zsh/**
/zsh/.zprezto
/zsh/.zprezto/**
!/README.md
!/setup.sh
